<!-- <script>
  function handleSubmit() {
    console.log("Foi")
  }
</script> -->

<div class="content">
  <form [formGroup]="cadastro" (ngSubmit)="handleSubmit()" class="formulario">
    <label for="">
      Nome:
    </label>
    <input type="text" formControlName="nome">

    <label for="">Nome Materia:</label>
    <input type="text" formControlName="materia">
    
    <label for="">Nota Unidade 1:</label>
    <input type="text" formControlName="nota1">
    
    <label for="">Nota Unidade 2:</label>
    <input type="text" formControlName="nota2">
    
    <label for="">Nota Unidade 3:</label>
    <input type="text" formControlName="nota3">
    
    <button type="submit">Enviar</button>
  </form>

  
</div>
<button (click)="verDados()">Ver os dados</button>

<!-- SeuComponente.component.html -->
<div>
  <h2>Lista de Alunos</h2>
  <ul>
    <li *ngFor="let aluno of Alunos">{{ aluno.name }} - {{ aluno.materia }} - {{ aluno.conceito }}</li>
  </ul>
</div>
